@import "tailwindcss";

@import "./palette.css" layer(base);
@import "./theme-b.css" layer(base);

@theme {
  --color-*: initial;
  --spacing-*: initial;
  --rounded-*: initial;

  --color-utility-red-500: rgb(239 68 68);
  --color-utility-red-600: rgb(220 38 38);
  --color-utility-red-700: rgb(185 28 28);
  --color-utility-red-800: rgb(153 27 27);
  --color-utility-red-900: rgb(127 29 29);

  --color-utility-orange-500: rgb(255 90 31);
  --color-utility-orange-600: rgb(253 75 31);
  --color-utility-orange-700: rgb(250 60 31);
  --color-utility-orange-800: rgb(244 51 31);
  --color-utility-orange-900: rgb(234 45 31);

  --color-utility-yellow-500: rgb(254 215 95);
  --color-utility-yellow-600: rgb(253 191 36);
  --color-utility-yellow-700: rgb(250 160 0);
  --color-utility-yellow-800: rgb(244 129 0);

  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;

  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;
}

@theme inline {
  --text-color-primary: var(--color-text-primary);
  --text-color-neutral: var(--color-text-neutral);
  --background-color-default: var(--color-background);
}

