@import "tailwindcss";

@import "./palette.css" layer(base);
@import "./theme-translated.css" layer(base);

@theme {
  --color-*: initial;
  --spacing-*: initial;
  --radius-*: initial;

  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;

  --radius-none: 0rem;
  --radius-xxs: 0.25rem;
  --radius-xs: 0.375rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 62.4375rem;
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-transparent: var(--transparent);
  --background-color-brand-hover: var(--background-brand-hover);
  --background-color-brand-primary: var(--background-brand-primary);
  --background-color-brand-primary-alpha: var(--background-brand-primary-alpha);
  --background-color-brand-primary-hover: var(--background-brand-primary-hover);
  --background-color-brand-primary-hover-alpha: var(--background-brand-primary-hover-alpha);
  --background-color-brand-primary-selected: var(--background-brand-primary-selected);
  --background-color-brand-primary-selected-alpha: var(--background-brand-primary-selected-alpha);
  --background-color-brand-secondary: var(--background-brand-secondary);
  --background-color-brand-secondary-alpha: var(--background-brand-secondary-alpha);
  --background-color-brand-selected: var(--background-brand-selected);
  --background-color-critical-hover: var(--background-critical-hover);
  --background-color-critical-primary: var(--background-critical-primary);
  --background-color-critical-primary-alpha: var(--background-critical-primary-alpha);
  --background-color-critical-primary-hover: var(--background-critical-primary-hover);
  --background-color-critical-primary-hover-alpha: var(--background-critical-primary-hover-alpha);
  --background-color-critical-primary-selected: var(--background-critical-primary-selected);
  --background-color-critical-primary-selected-alpha: var(--background-critical-primary-selected-alpha);
  --background-color-critical-secondary: var(--background-critical-secondary);
  --background-color-critical-secondary-alpha: var(--background-critical-secondary-alpha);
  --background-color-critical-selected: var(--background-critical-selected);
  --background-color-default: var(--background-default);
  --background-color-hover: var(--background-hover);
  --background-color-hover-onfill: var(--background-hover-onfill);
  --background-color-notice-hover: var(--background-notice-hover);
  --background-color-notice-primary: var(--background-notice-primary);
  --background-color-notice-primary-alpha: var(--background-notice-primary-alpha);
  --background-color-notice-primary-hover: var(--background-notice-primary-hover);
  --background-color-notice-primary-hover-alpha: var(--background-notice-primary-hover-alpha);
  --background-color-notice-primary-selected: var(--background-notice-primary-selected);
  --background-color-notice-primary-selected-alpha: var(--background-notice-primary-selected-alpha);
  --background-color-notice-secondary: var(--background-notice-secondary);
  --background-color-notice-secondary-alpha: var(--background-notice-secondary-alpha);
  --background-color-notice-selected: var(--background-notice-selected);
  --background-color-overlay: var(--background-overlay);
  --background-color-primary: var(--background-primary);
  --background-color-primary-alpha: var(--background-primary-alpha);
  --background-color-primary-hover: var(--background-primary-hover);
  --background-color-primary-hover-alpha: var(--background-primary-hover-alpha);
  --background-color-primary-selected: var(--background-primary-selected);
  --background-color-primary-selected-alpha: var(--background-primary-selected-alpha);
  --background-color-raised: var(--background-raised);
  --background-color-secondary: var(--background-secondary);
  --background-color-secondary-alpha: var(--background-secondary-alpha);
  --background-color-secondary-hover: var(--background-secondary-hover);
  --background-color-secondary-hover-alpha: var(--background-secondary-hover-alpha);
  --background-color-secondary-selected: var(--background-secondary-selected);
  --background-color-secondary-selected-alpha: var(--background-secondary-selected-alpha);
  --background-color-selected: var(--background-selected);
  --background-color-selected-onfill: var(--background-selected-onfill);
  --background-color-solid-default: var(--background-solid-default);
  --background-color-solid-primary-alpha: var(--background-solid-primary-alpha);
  --background-color-solid-raised: var(--background-solid-raised);
  --background-color-solid-sunken: var(--background-solid-sunken);
  --background-color-success-hover: var(--background-success-hover);
  --background-color-success-primary: var(--background-success-primary);
  --background-color-success-primary-alpha: var(--background-success-primary-alpha);
  --background-color-success-primary-hover: var(--background-success-primary-hover);
  --background-color-success-primary-hover-alpha: var(--background-success-primary-hover-alpha);
  --background-color-success-primary-selected: var(--background-success-primary-selected);
  --background-color-success-primary-selected-alpha: var(--background-success-primary-selected-alpha);
  --background-color-success-secondary: var(--background-success-secondary);
  --background-color-success-secondary-alpha: var(--background-success-secondary-alpha);
  --background-color-success-selected: var(--background-success-selected);
  --background-color-sunken: var(--background-sunken);
  --background-color-transparent: var(--background-transparent);
  --border-color-bg: var(--border-bg);
  --border-color-brand-primary: var(--border-brand-primary);
  --border-color-brand-primary-alpha: var(--border-brand-primary-alpha);
  --border-color-brand-secondary: var(--border-brand-secondary);
  --border-color-brand-secondary-alpha: var(--border-brand-secondary-alpha);
  --border-color-brand-tertiary: var(--border-brand-tertiary);
  --border-color-brand-tertiary-alpha: var(--border-brand-tertiary-alpha);
  --border-color-critical-primary: var(--border-critical-primary);
  --border-color-critical-primary-alpha: var(--border-critical-primary-alpha);
  --border-color-critical-secondary: var(--border-critical-secondary);
  --border-color-critical-secondary-alpha: var(--border-critical-secondary-alpha);
  --border-color-critical-tertiary: var(--border-critical-tertiary);
  --border-color-critical-tertiary-alpha: var(--border-critical-tertiary-alpha);
  --border-color-inverse-primary: var(--border-inverse-primary);
  --border-color-inverse-primary-alpha: var(--border-inverse-primary-alpha);
  --border-color-inverse-secondary: var(--border-inverse-secondary);
  --border-color-inverse-secondary-alpha: var(--border-inverse-secondary-alpha);
  --border-color-inverse-tertiary: var(--border-inverse-tertiary);
  --border-color-inverse-tertiary-alpha: var(--border-inverse-tertiary-alpha);
  --border-color-notice-primary: var(--border-notice-primary);
  --border-color-notice-primary-alpha: var(--border-notice-primary-alpha);
  --border-color-notice-secondary: var(--border-notice-secondary);
  --border-color-notice-secondary-alpha: var(--border-notice-secondary-alpha);
  --border-color-notice-tertiary: var(--border-notice-tertiary);
  --border-color-notice-tertiary-alpha: var(--border-notice-tertiary-alpha);
  --border-color-primary: var(--border-primary);
  --border-color-primary-alpha: var(--border-primary-alpha);
  --border-color-secondary: var(--border-secondary);
  --border-color-secondary-alpha: var(--border-secondary-alpha);
  --border-color-success-primary: var(--border-success-primary);
  --border-color-success-primary-alpha: var(--border-success-primary-alpha);
  --border-color-success-secondary: var(--border-success-secondary);
  --border-color-success-secondary-alpha: var(--border-success-secondary-alpha);
  --border-color-success-tertiary: var(--border-success-tertiary);
  --border-color-success-tertiary-alpha: var(--border-success-tertiary-alpha);
  --border-color-tertiary: var(--border-tertiary);
  --border-color-tertiary-alpha: var(--border-tertiary-alpha);
  --background-color-fill-brand: var(--fill-brand);
  --background-color-fill-brand-hover: var(--fill-brand-hover);
  --background-color-fill-brand-secondary: var(--fill-brand-secondary);
  --background-color-fill-brand-secondary-hover: var(--fill-brand-secondary-hover);
  --background-color-fill-brand-selected: var(--fill-brand-selected);
  --background-color-fill-critical: var(--fill-critical);
  --background-color-fill-critical-hover: var(--fill-critical-hover);
  --background-color-fill-critical-selected: var(--fill-critical-selected);
  --background-color-fill-inverse: var(--fill-inverse);
  --background-color-fill-inverse-hover: var(--fill-inverse-hover);
  --background-color-fill-inverse-selected: var(--fill-inverse-selected);
  --background-color-fill-notice: var(--fill-notice);
  --background-color-fill-notice-hover: var(--fill-notice-hover);
  --background-color-fill-notice-selected: var(--fill-notice-selected);
  --background-color-fill-primary: var(--fill-primary);
  --background-color-fill-primary-hover: var(--fill-primary-hover);
  --background-color-fill-primary-selected: var(--fill-primary-selected);
  --background-color-fill-secondary: var(--fill-secondary);
  --background-color-fill-secondary-hover: var(--fill-secondary-hover);
  --background-color-fill-success: var(--fill-success);
  --background-color-fill-success-hover: var(--fill-success-hover);
  --background-color-fill-success-selected: var(--fill-success-selected);
  --background-color-fill-tertiary: var(--fill-tertiary);
  --background-color-fill-tertiary-hover: var(--fill-tertiary-hover);
  --text-color-brand-primary: var(--text-brand-primary);
  --text-color-brand-secondary: var(--text-brand-secondary);
  --text-color-brand-tertiary: var(--text-brand-tertiary);
  --text-color-critical-primary: var(--text-critical-primary);
  --text-color-critical-secondary: var(--text-critical-secondary);
  --text-color-notice-primary: var(--text-notice-primary);
  --text-color-notice-secondary: var(--text-notice-secondary);
  --text-color-primary: var(--text-primary);
  --text-color-primary-onaccent: var(--text-primary-onaccent);
  --text-color-primary-onfill: var(--text-primary-onfill);
  --text-color-secondary: var(--text-secondary);
  --text-color-secondary-onfill: var(--text-secondary-onfill);
  --text-color-subtle: var(--text-subtle);
  --text-color-subtle-onfill: var(--text-subtle-onfill);
  --text-color-success-primary: var(--text-success-primary);
  --text-color-success-secondary: var(--text-success-secondary);
  --text-color-tertiary: var(--text-tertiary);
  --text-color-tertiary-onfill: var(--text-tertiary-onfill);
  --color-utility-focus: var(--utility-focus);
  --color-utility-focus-2: var(--utility-focus-2);
  --color-utility-focus-critical: var(--utility-focus-critical);
  --color-utility-focus-critical-2: var(--utility-focus-critical-2);
  --color-utility-shadow: var(--utility-shadow);
  --color-utility-shadow-2: var(--utility-shadow-2);
  --color-utility-amber-1: var(--utility-amber-1);
  --color-utility-amber-1a: var(--utility-amber-1-a);
  --color-utility-amber-2: var(--utility-amber-2);
  --color-utility-amber-2a: var(--utility-amber-2-a);
  --color-utility-amber-3: var(--utility-amber-3);
  --color-utility-amber-3a: var(--utility-amber-3-a);
  --color-utility-amber-4: var(--utility-amber-4);
  --color-utility-amber-4a: var(--utility-amber-4-a);
  --color-utility-amber-5: var(--utility-amber-5);
  --color-utility-amber-6: var(--utility-amber-6);
  --color-utility-amber-7: var(--utility-amber-7);
  --color-utility-amber-8: var(--utility-amber-8);
  --color-utility-blue-1: var(--utility-blue-1);
  --color-utility-blue-1a: var(--utility-blue-1-a);
  --color-utility-blue-2: var(--utility-blue-2);
  --color-utility-blue-2a: var(--utility-blue-2-a);
  --color-utility-blue-3: var(--utility-blue-3);
  --color-utility-blue-3a: var(--utility-blue-3-a);
  --color-utility-blue-4: var(--utility-blue-4);
  --color-utility-blue-4a: var(--utility-blue-4-a);
  --color-utility-blue-5: var(--utility-blue-5);
  --color-utility-blue-6: var(--utility-blue-6);
  --color-utility-blue-7: var(--utility-blue-7);
  --color-utility-blue-8: var(--utility-blue-8);
  --color-utility-cyan-1: var(--utility-cyan-1);
  --color-utility-cyan-1a: var(--utility-cyan-1-a);
  --color-utility-cyan-2: var(--utility-cyan-2);
  --color-utility-cyan-2a: var(--utility-cyan-2-a);
  --color-utility-cyan-3: var(--utility-cyan-3);
  --color-utility-cyan-3a: var(--utility-cyan-3-a);
  --color-utility-cyan-4: var(--utility-cyan-4);
  --color-utility-cyan-4a: var(--utility-cyan-4-a);
  --color-utility-cyan-5: var(--utility-cyan-5);
  --color-utility-cyan-6: var(--utility-cyan-6);
  --color-utility-cyan-7: var(--utility-cyan-7);
  --color-utility-cyan-8: var(--utility-cyan-8);
  --color-utility-emerald-1: var(--utility-emerald-1);
  --color-utility-emerald-1a: var(--utility-emerald-1-a);
  --color-utility-emerald-2: var(--utility-emerald-2);
  --color-utility-emerald-2a: var(--utility-emerald-2-a);
  --color-utility-emerald-3: var(--utility-emerald-3);
  --color-utility-emerald-3a: var(--utility-emerald-3-a);
  --color-utility-emerald-4: var(--utility-emerald-4);
  --color-utility-emerald-4a: var(--utility-emerald-4-a);
  --color-utility-emerald-5: var(--utility-emerald-5);
  --color-utility-emerald-6: var(--utility-emerald-6);
  --color-utility-emerald-7: var(--utility-emerald-7);
  --color-utility-emerald-8: var(--utility-emerald-8);
  --color-utility-fuchsia-1: var(--utility-fuchsia-1);
  --color-utility-fuchsia-1a: var(--utility-fuchsia-1-a);
  --color-utility-fuchsia-2: var(--utility-fuchsia-2);
  --color-utility-fuchsia-2a: var(--utility-fuchsia-2-a);
  --color-utility-fuchsia-3: var(--utility-fuchsia-3);
  --color-utility-fuchsia-3a: var(--utility-fuchsia-3-a);
  --color-utility-fuchsia-4: var(--utility-fuchsia-4);
  --color-utility-fuchsia-4a: var(--utility-fuchsia-4-a);
  --color-utility-fuchsia-5: var(--utility-fuchsia-5);
  --color-utility-fuchsia-6: var(--utility-fuchsia-6);
  --color-utility-fuchsia-7: var(--utility-fuchsia-7);
  --color-utility-fuchsia-8: var(--utility-fuchsia-8);
  --color-utility-green-1: var(--utility-green-1);
  --color-utility-green-1a: var(--utility-green-1-a);
  --color-utility-green-2: var(--utility-green-2);
  --color-utility-green-2a: var(--utility-green-2-a);
  --color-utility-green-3: var(--utility-green-3);
  --color-utility-green-3a: var(--utility-green-3-a);
  --color-utility-green-4: var(--utility-green-4);
  --color-utility-green-4a: var(--utility-green-4-2);
  --color-utility-green-5: var(--utility-green-5);
  --color-utility-green-6: var(--utility-green-6);
  --color-utility-green-7: var(--utility-green-7);
  --color-utility-green-8: var(--utility-green-8);
  --color-utility-grey-1: var(--utility-grey-1);
  --color-utility-grey-1a: var(--utility-grey-1-a);
  --color-utility-grey-2: var(--utility-grey-2);
  --color-utility-grey-2a: var(--utility-grey-2-a);
  --color-utility-grey-3: var(--utility-grey-3);
  --color-utility-grey-3a: var(--utility-grey-3-a);
  --color-utility-grey-4: var(--utility-grey-4);
  --color-utility-grey-4a: var(--utility-grey-4-a);
  --color-utility-grey-5: var(--utility-grey-5);
  --color-utility-grey-6: var(--utility-grey-6);
  --color-utility-grey-7: var(--utility-grey-7);
  --color-utility-grey-8: var(--utility-grey-8);
  --color-utility-indigo-1: var(--utility-indigo-1);
  --color-utility-indigo-1a: var(--utility-indigo-1-a);
  --color-utility-indigo-2: var(--utility-indigo-2);
  --color-utility-indigo-2a: var(--utility-indigo-2-a);
  --color-utility-indigo-3: var(--utility-indigo-3);
  --color-utility-indigo-3a: var(--utility-indigo-3-a);
  --color-utility-indigo-4: var(--utility-indigo-4);
  --color-utility-indigo-4a: var(--utility-indigo-4-a);
  --color-utility-indigo-5: var(--utility-indigo-5);
  --color-utility-indigo-6: var(--utility-indigo-6);
  --color-utility-indigo-7: var(--utility-indigo-7);
  --color-utility-indigo-8: var(--utility-indigo-8);
  --color-utility-lime-1: var(--utility-lime-1);
  --color-utility-lime-1a: var(--utility-lime-1-a);
  --color-utility-lime-2: var(--utility-lime-2);
  --color-utility-lime-2a: var(--utility-lime-2-a);
  --color-utility-lime-3: var(--utility-lime-3);
  --color-utility-lime-3a: var(--utility-lime-3-a);
  --color-utility-lime-4: var(--utility-lime-4);
  --color-utility-lime-4a: var(--utility-lime-4-a);
  --color-utility-lime-5: var(--utility-lime-5);
  --color-utility-lime-6: var(--utility-lime-6);
  --color-utility-lime-7: var(--utility-lime-7);
  --color-utility-lime-8: var(--utility-lime-8);
  --color-utility-magenta-1: var(--utility-magenta-1);
  --color-utility-magenta-1a: var(--utility-magenta-1-a);
  --color-utility-magenta-2: var(--utility-magenta-2);
  --color-utility-magenta-2a: var(--utility-magenta-2-a);
  --color-utility-magenta-3: var(--utility-magenta-3);
  --color-utility-magenta-3a: var(--utility-magenta-3-a);
  --color-utility-magenta-4: var(--utility-magenta-4);
  --color-utility-magenta-4a: var(--utility-magenta-4-a);
  --color-utility-magenta-5: var(--utility-magenta-5);
  --color-utility-magenta-6: var(--utility-magenta-6);
  --color-utility-magenta-7: var(--utility-magenta-7);
  --color-utility-magenta-8: var(--utility-magenta-8);
  --color-utility-orange-1: var(--utility-orange-1);
  --color-utility-orange-1a: var(--utility-orange-1-a);
  --color-utility-orange-2: var(--utility-orange-2);
  --color-utility-orange-2a: var(--utility-orange-2-a);
  --color-utility-orange-3: var(--utility-orange-3);
  --color-utility-orange-3a: var(--utility-orange-3-a);
  --color-utility-orange-4: var(--utility-orange-4);
  --color-utility-orange-4a: var(--utility-orange-4-a);
  --color-utility-orange-5: var(--utility-orange-5);
  --color-utility-orange-6: var(--utility-orange-6);
  --color-utility-orange-7: var(--utility-orange-7);
  --color-utility-orange-8: var(--utility-orange-8);
  --color-utility-peach-1: var(--utility-peach-1);
  --color-utility-peach-1a: var(--utility-peach-1-a);
  --color-utility-peach-2: var(--utility-peach-2);
  --color-utility-peach-2a: var(--utility-peach-2-a);
  --color-utility-peach-3: var(--utility-peach-3);
  --color-utility-peach-3a: var(--utility-peach-3-a);
  --color-utility-peach-4: var(--utility-peach-4);
  --color-utility-peach-4a: var(--utility-peach-4-a);
  --color-utility-peach-5: var(--utility-peach-5);
  --color-utility-peach-6: var(--utility-peach-6);
  --color-utility-peach-7: var(--utility-peach-7);
  --color-utility-peach-8: var(--utility-peach-8);
  --color-utility-pink-1: var(--utility-pink-1);
  --color-utility-pink-1a: var(--utility-pink-1-a);
  --color-utility-pink-2: var(--utility-pink-2);
  --color-utility-pink-2a: var(--utility-pink-2-a);
  --color-utility-pink-3: var(--utility-pink-3);
  --color-utility-pink-3a: var(--utility-pink-3-a);
  --color-utility-pink-4: var(--utility-pink-4);
  --color-utility-pink-4a: var(--utility-pink-4-a);
  --color-utility-pink-5: var(--utility-pink-5);
  --color-utility-pink-6: var(--utility-pink-6);
  --color-utility-pink-7: var(--utility-pink-7);
  --color-utility-pink-8: var(--utility-pink-8);
  --color-utility-purple-1: var(--utility-purple-1);
  --color-utility-purple-1a: var(--utility-purple-1-a);
  --color-utility-purple-2: var(--utility-purple-2);
  --color-utility-purple-2a: var(--utility-purple-2-a);
  --color-utility-purple-3: var(--utility-purple-3);
  --color-utility-purple-3a: var(--utility-purple-3-a);
  --color-utility-purple-4: var(--utility-purple-4);
  --color-utility-purple-4a: var(--utility-purple-4-a);
  --color-utility-purple-5: var(--utility-purple-5);
  --color-utility-purple-6: var(--utility-purple-6);
  --color-utility-purple-7: var(--utility-purple-7);
  --color-utility-purple-8: var(--utility-purple-8);
  --color-utility-red-1: var(--utility-red-1);
  --color-utility-red-1a: var(--utility-red-1-a);
  --color-utility-red-2: var(--utility-red-2);
  --color-utility-red-2a: var(--utility-red-2-a);
  --color-utility-red-3: var(--utility-red-3);
  --color-utility-red-3a: var(--utility-red-3-a);
  --color-utility-red-4: var(--utility-red-4);
  --color-utility-red-4a: var(--utility-red-4-a);
  --color-utility-red-5: var(--utility-red-5);
  --color-utility-red-6: var(--utility-red-6);
  --color-utility-red-7: var(--utility-red-7);
  --color-utility-red-8: var(--utility-red-8);
  --color-utility-teal-1: var(--utility-teal-1);
  --color-utility-teal-1a: var(--utility-teal-1-a);
  --color-utility-teal-2: var(--utility-teal-2);
  --color-utility-teal-2a: var(--utility-teal-2-a);
  --color-utility-teal-3: var(--utility-teal-3);
  --color-utility-teal-3a: var(--utility-teal-3-a);
  --color-utility-teal-4: var(--utility-teal-4);
  --color-utility-teal-4a: var(--utility-teal-4-a);
  --color-utility-teal-5: var(--utility-teal-5);
  --color-utility-teal-6: var(--utility-teal-6);
  --color-utility-teal-7: var(--utility-teal-7);
  --color-utility-teal-8: var(--utility-teal-8);
  --color-utility-violet-1: var(--utility-violet-1);
  --color-utility-violet-1a: var(--utility-violet-1-a);
  --color-utility-violet-2: var(--utility-violet-2);
  --color-utility-violet-2a: var(--utility-violet-2-a);
  --color-utility-violet-3: var(--utility-violet-3);
  --color-utility-violet-3a: var(--utility-violet-3-a);
  --color-utility-violet-4: var(--utility-violet-4);
  --color-utility-violet-4a: var(--utility-violet-4-a);
  --color-utility-violet-5: var(--utility-violet-5);
  --color-utility-violet-6: var(--utility-violet-6);
  --color-utility-violet-7: var(--utility-violet-7);
  --color-utility-violet-8: var(--utility-violet-8);
  --color-utility-yellow-1: var(--utility-yellow-1);
  --color-utility-yellow-1a: var(--utility-yellow-1-a);
  --color-utility-yellow-2: var(--utility-yellow-2);
  --color-utility-yellow-2a: var(--utility-yellow-2-a);
  --color-utility-yellow-3: var(--utility-yellow-3);
  --color-utility-yellow-3a: var(--utility-yellow-3-a);
  --color-utility-yellow-4: var(--utility-yellow-4);
  --color-utility-yellow-4a: var(--utility-yellow-4-a);
  --color-utility-yellow-5: var(--utility-yellow-5);
  --color-utility-yellow-6: var(--utility-yellow-6);
  --color-utility-yellow-7: var(--utility-yellow-7);
  --color-utility-yellow-8: var(--utility-yellow-8);
}

