:root {
  --neutral-0: hsl(0 0% 100%);
  --neutral-100: hsl(0 0% 90%);
  --neutral-200: hsl(0 0% 80%);
  --neutral-300: hsl(0 0% 70%);
  --neutral-400: hsl(0 0% 60%);
  --neutral-500: hsl(0 0% 50%);
  --neutral-600: hsl(0 0% 40%);
  --neutral-700: hsl(0 0% 30%);
  --neutral-800: hsl(0 0% 20%);
  --neutral-900: hsl(0 0% 10%);
  --neutral-1000: hsl(0 0% 0%);

  --blue-0: hsl(210 100% 100%);
  --blue-100: hsl(210 100% 90%);
  --blue-200: hsl(210 100% 80%);
  --blue-300: hsl(210 100% 70%);
  --blue-400: hsl(210 100% 60%);
  --blue-500: hsl(210 100% 50%);
  --blue-600: hsl(210 100% 40%);
  --blue-700: hsl(210 100% 30%);
  --blue-800: hsl(210 100% 20%);
  --blue-900: hsl(210 100% 10%);
  --blue-1000: hsl(210 100% 0%);

  --green-0: hsl(140 100% 100%);
  --green-100: hsl(140 100% 90%);
  --green-200: hsl(140 100% 80%);
  --green-300: hsl(140 100% 70%);
  --green-400: hsl(140 100% 60%);
  --green-500: hsl(140 100% 50%);
  --green-600: hsl(140 100% 40%);
  --green-700: hsl(140 100% 30%);
  --green-800: hsl(140 100% 20%);
  --green-900: hsl(140 100% 10%);
  --green-1000: hsl(140 100% 0%);
}
