[data-theme="light"],
[data-theme="dark"] .inverted {
  --color-text-primary: var(--blue-600);
  --color-text-neutral: var(--neutral-1000);
  --color-background: var(--neutral-100);
}


[data-theme="dark"],
[data-theme="light"] .inverted {
  --color-text-primary: var(--blue-200);
  --color-text-neutral: var(--neutral-300);
  --color-background: var(--neutral-1000);
}
