:root{
  --black: rgb(9 9 10);
  --transparent: rgb(0 0 0 / 0);
  --white: rgb(255 255 255);
  --background-brand-hover: var(--amber-1500, rgb(61 36 21));
  --background-brand-primary: var(--amber-1500, rgb(61 36 21));
  --background-brand-primary-alpha: var(--amber-1500a, rgb(245 132 60 / 0.22));
  --background-brand-primary-hover: var(--amber-1400, rgb(74 42 23));
  --background-brand-primary-hover-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --background-brand-primary-selected: var(--amber-1300, rgb(92 51 25));
  --background-brand-primary-selected-alpha: var(--amber-1300-a, rgb(253 133 54 / 0.34));
  --background-brand-secondary: var(--amber-1400, rgb(74 42 23));
  --background-brand-secondary-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --background-brand-selected: var(--amber-1400, rgb(74 42 23));
  --background-critical-hover: var(--red-1500, rgb(69 26 26));
  --background-critical-primary: var(--red-1500, rgb(69 26 26));
  --background-critical-primary-alpha: var(--red-1500-a, rgb(249 77 74 / 0.25));
  --background-critical-primary-hover: var(--red-1400, rgb(92 30 30));
  --background-critical-primary-hover-alpha: var(--red-1400-a, rgb(253 71 69 / 0.34));
  --background-critical-primary-selected: var(--red-1300, rgb(114 34 34));
  --background-critical-primary-selected-alpha: var(--red-1300-a, rgb(253 67 66 / 0.43));
  --background-critical-secondary: var(--red-1500, rgb(69 26 26));
  --background-critical-secondary-alpha: var(--red-1400-a, rgb(253 71 69 / 0.34));
  --background-critical-selected: var(--red-1400, rgb(92 30 30));
  --background-default: var(--grey-1500, rgb(24 24 26));
  --background-hover: var(--white-alpha-1500, rgb(223 223 239 / 0.07));
  --background-hover-onfill: var(--white-alpha-1500, rgb(223 223 239 / 0.07));
  --background-notice-hover: var(--amber-1500, rgb(61 36 21));
  --background-notice-primary: var(--amber-1500, rgb(61 36 21));
  --background-notice-primary-alpha: var(--amber-1500a, rgb(245 132 60 / 0.22));
  --background-notice-primary-hover: var(--amber-1400, rgb(74 42 23));
  --background-notice-primary-hover-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --background-notice-primary-selected: var(--amber-1300, rgb(92 51 25));
  --background-notice-primary-selected-alpha: var(--amber-1300-a, rgb(253 133 54 / 0.34));
  --background-notice-secondary: var(--amber-1500, rgb(61 36 21));
  --background-notice-secondary-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --background-notice-selected: var(--amber-1400, rgb(74 42 23));
  --background-overlay: var(--black-alpha-1200, rgb(2 2 11 / 0.78));
  --background-primary: var(--grey-1500, rgb(24 24 26));
  --background-primary-alpha: var(--white-alpha-1500, rgb(223 223 239 / 0.07));
  --background-primary-hover: var(--grey-1400, rgb(30 30 33));
  --background-primary-hover-alpha: var(--white-alpha-1400, rgb(219 219 240 / 0.1));
  --background-primary-selected: var(--grey-1300, rgb(41 41 45));
  --background-primary-selected-alpha: var(--white-alpha-1300, rgb(222 222 243 / 0.15));
  --background-raised: var(--grey-1400, rgb(30 30 33));
  --background-secondary: var(--grey-1400, rgb(30 30 33));
  --background-secondary-alpha: var(--white-alpha-1300, rgb(222 222 243 / 0.15));
  --background-secondary-hover: var(--grey-1300, rgb(41 41 45));
  --background-secondary-hover-alpha: var(--white-alpha-1200, rgb(227 227 251 / 0.22));
  --background-secondary-selected: var(--grey-1200, rgb(58 58 65));
  --background-secondary-selected-alpha: var(--white-alpha-1100, rgb(230 230 249 / 0.33));
  --background-selected: var(--white-alpha-1400, rgb(219 219 240 / 0.1));
  --background-selected-onfill: var(--white-alpha-1400, rgb(219 219 240 / 0.1));
  --background-solid-default: var(--white, rgb(255 255 255));
  --background-solid-primary-alpha: var(--black-alpha-100, rgb(26 26 41 / 0.07));
  --background-solid-raised: var(--white, rgb(255 255 255));
  --background-solid-sunken: var(--grey-50, rgb(247 247 247));
  --background-success-hover: var(--emerald-1500, rgb(11 50 41));
  --background-success-primary: var(--emerald-1500, rgb(11 50 41));
  --background-success-primary-alpha: var(--emerald-1500-a, rgb(21 250 192 / 0.17));
  --background-success-primary-hover: var(--emerald-1400, rgb(9 57 45));
  --background-success-primary-hover-alpha: var(--emerald-1400-a, rgb(9 249 185 / 0.2));
  --background-success-primary-selected: var(--emerald-1300, rgb(10 65 50));
  --background-success-primary-selected-alpha: var(--emerald-1300-a, rgb(13 252 184 / 0.23));
  --background-success-secondary: var(--emerald-1500, rgb(11 50 41));
  --background-success-secondary-alpha: var(--emerald-1400-a, rgb(9 249 185 / 0.2));
  --background-success-selected: var(--emerald-1400, rgb(9 57 45));
  --background-sunken: var(--black, rgb(9 9 10));
  --background-transparent: var(--transparent, rgb(255 255 255 / 0));
  --border-bg: var(--background-default, rgb(24 24 26));
  --border-brand-primary: var(--amber-700, rgb(232 172 50));
  --border-brand-primary-alpha: var(--amber-700, rgb(232 172 50));
  --border-brand-secondary: var(--amber-1200, rgb(110 63 25));
  --border-brand-secondary-alpha: var(--amber-1200-a, rgb(249 138 46 / 0.42));
  --border-brand-tertiary: var(--amber-1400, rgb(74 42 23));
  --border-brand-tertiary-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --border-critical-primary: var(--red-800, rgb(239 71 64));
  --border-critical-primary-alpha: var(--red-800, rgb(239 71 64));
  --border-critical-secondary: var(--red-1300, rgb(114 34 34));
  --border-critical-secondary-alpha: var(--red-1200-a, rgb(252 50 49 / 0.51));
  --border-critical-tertiary: var(--red-1400, rgb(92 30 30));
  --border-critical-tertiary-alpha: var(--red-1400-a, rgb(253 71 69 / 0.34));
  --border-inverse-primary: var(--grey-500, rgb(192 192 198));
  --border-inverse-primary-alpha: var(--black-alpha-500, rgb(3 3 31 / 0.25));
  --border-inverse-secondary: var(--grey-300, rgb(220 220 223));
  --border-inverse-secondary-alpha: var(--black-alpha-300, rgb(12 12 26 / 0.14));
  --border-inverse-tertiary: var(--grey-100, rgb(237 237 238));
  --border-inverse-tertiary-alpha: var(--black-alpha-100, rgb(26 26 41 / 0.07));
  --border-notice-primary: var(--amber-600, rgb(235 191 71));
  --border-notice-primary-alpha: var(--amber-600, rgb(235 191 71));
  --border-notice-secondary: var(--amber-1300, rgb(92 51 25));
  --border-notice-secondary-alpha: var(--amber-1200-a, rgb(249 138 46 / 0.42));
  --border-notice-tertiary: var(--amber-1400, rgb(74 42 23));
  --border-notice-tertiary-alpha: var(--amber-1400-a, rgb(250 131 58 / 0.27));
  --border-primary: var(--grey-1000, rgb(100 100 109));
  --border-primary-alpha: var(--white-alpha-1000, rgb(231 231 251 / 0.41));
  --border-secondary: var(--grey-1200, rgb(58 58 65));
  --border-secondary-alpha: var(--white-alpha-1200, rgb(227 227 251 / 0.22));
  --border-success-primary: var(--emerald-600, rgb(52 211 153));
  --border-success-primary-alpha: var(--emerald-600, rgb(52 211 153));
  --border-success-secondary: var(--emerald-1300, rgb(10 65 50));
  --border-success-secondary-alpha: var(--emerald-1200-a, rgb(6 247 182 / 0.29));
  --border-success-tertiary: var(--emerald-1400, rgb(9 57 45));
  --border-success-tertiary-alpha: var(--emerald-1400-a, rgb(9 249 185 / 0.2));
  --border-tertiary: var(--grey-1400, rgb(30 30 33));
  --border-tertiary-alpha: var(--white-alpha-1400, rgb(219 219 240 / 0.1));
  --fill-brand: var(--amber-600, rgb(235 191 71));
  --fill-brand-hover: var(--amber-500, rgb(242 202 83));
  --fill-brand-secondary: var(--amber-300, rgb(249 223 129));
  --fill-brand-secondary-hover: var(--amber-200, rgb(251 231 157));
  --fill-brand-selected: var(--amber-400, rgb(247 211 99));
  --fill-critical: var(--red-800, rgb(239 71 64));
  --fill-critical-hover: var(--red-700, rgb(248 98 89));
  --fill-critical-selected: var(--red-600, rgb(250 124 114));
  --fill-inverse: var(--grey-1300, rgb(41 41 45));
  --fill-inverse-hover: var(--grey-1200, rgb(58 58 65));
  --fill-inverse-selected: var(--grey-1100, rgb(80 80 88));
  --fill-notice: var(--amber-400, rgb(247 211 99));
  --fill-notice-hover: var(--amber-300, rgb(249 223 129));
  --fill-notice-selected: var(--amber-200, rgb(251 231 157));
  --fill-primary: var(--white, rgb(255 255 255));
  --fill-primary-hover: var(--grey-200, rgb(231 231 233));
  --fill-primary-selected: var(--grey-300, rgb(220 220 223));
  --fill-secondary: var(--grey-600, rgb(178 178 186));
  --fill-secondary-hover: var(--grey-700, rgb(154 154 162));
  --fill-success: var(--emerald-400, rgb(110 231 183));
  --fill-success-hover: var(--emerald-300, rgb(137 237 194));
  --fill-success-selected: var(--emerald-200, rgb(167 243 208));
  --fill-tertiary: var(--grey-1200, rgb(58 58 65));
  --fill-tertiary-hover: var(--grey-1100, rgb(80 80 88));
  --text-brand-primary: var(--amber-600, rgb(235 191 71));
  --text-brand-secondary: var(--amber-800, rgb(227 154 30));
  --text-brand-tertiary: var(--amber-900, rgb(203 124 24));
  --text-critical-primary: var(--red-400, rgb(254 171 162));
  --text-critical-secondary: var(--red-400, rgb(254 171 162));
  --text-notice-primary: var(--amber-400, rgb(247 211 99));
  --text-notice-secondary: var(--amber-400, rgb(247 211 99));
  --text-primary: var(--white, rgb(255 255 255));
  --text-primary-onaccent: var(--black, rgb(9 9 10));
  --text-primary-onfill: var(--black, rgb(9 9 10));
  --text-secondary: var(--grey-400, rgb(205 205 210));
  --text-secondary-onfill: var(--grey-800, rgb(132 132 140));
  --text-subtle: var(--grey-700, rgb(154 154 162));
  --text-subtle-onfill: var(--grey-500, rgb(192 192 198));
  --text-success-primary: var(--emerald-400, rgb(110 231 183));
  --text-success-secondary: var(--emerald-400, rgb(110 231 183));
  --text-tertiary: var(--grey-600, rgb(178 178 186));
  --text-tertiary-onfill: var(--grey-700, rgb(154 154 162));
  --utility-focus: var(--amber-600, rgb(235 191 71));
  --utility-focus-2: rgb(235 191 71 / 0.32);
  --utility-focus-critical: var(--red-600, rgb(250 124 114));
  --utility-focus-critical-2: rgb(250 114 114 / 0.32);
  --utility-shadow: var(--black-alpha-600, rgb(7 7 32 / 0.31));
  --utility-shadow-2: var(--black-alpha-800, rgb(4 4 20 / 0.49));
  --utility-amber-1: var(--amber-1500, rgb(61 36 21));
  --utility-amber-1-a: var(--amber-1500, rgb(61 36 21));
  --utility-amber-2: var(--amber-1400, rgb(74 42 23));
  --utility-amber-2-a: var(--amber-1400, rgb(74 42 23));
  --utility-amber-3: var(--amber-1200, rgb(110 63 25));
  --utility-amber-3-a: var(--amber-1200, rgb(110 63 25));
  --utility-amber-4: var(--amber-900, rgb(203 124 24));
  --utility-amber-4-a: var(--amber-900, rgb(203 124 24));
  --utility-amber-5: var(--amber-800, rgb(227 154 30));
  --utility-amber-6: var(--amber-600, rgb(235 191 71));
  --utility-amber-7: var(--amber-400, rgb(247 211 99));
  --utility-amber-8: var(--amber-200, rgb(251 231 157));
  --utility-blue-1: var(--blue-1500, rgb(19 42 78));
  --utility-blue-1-a: var(--blue-1500, rgb(19 42 78));
  --utility-blue-2: var(--blue-1400, rgb(16 51 96));
  --utility-blue-2-a: var(--blue-1400, rgb(16 51 96));
  --utility-blue-3: var(--blue-1200, rgb(7 71 147));
  --utility-blue-3-a: var(--blue-1200, rgb(7 71 147));
  --utility-blue-4: var(--blue-900, rgb(13 118 242));
  --utility-blue-4-a: var(--blue-900, rgb(13 118 242));
  --utility-blue-5: var(--blue-800, rgb(42 140 252));
  --utility-blue-6: var(--blue-600, rgb(92 168 255));
  --utility-blue-7: var(--blue-400, rgb(141 193 255));
  --utility-blue-8: var(--blue-200, rgb(191 218 255));
  --utility-cyan-1: var(--cyan-1500, rgb(16 44 66));
  --utility-cyan-1-a: var(--cyan-1500, rgb(16 44 66));
  --utility-cyan-2: var(--cyan-1400, rgb(15 54 82));
  --utility-cyan-2-a: var(--cyan-1400, rgb(15 54 82));
  --utility-cyan-3: var(--cyan-1200, rgb(11 77 111));
  --utility-cyan-3-a: var(--cyan-1200, rgb(11 77 111));
  --utility-cyan-4: var(--cyan-900, rgb(0 153 204));
  --utility-cyan-4-a: var(--cyan-900, rgb(0 153 204));
  --utility-cyan-5: var(--cyan-800, rgb(10 173 228));
  --utility-cyan-6: var(--cyan-600, rgb(56 195 250));
  --utility-cyan-7: var(--cyan-400, rgb(124 210 253));
  --utility-cyan-8: var(--cyan-200, rgb(185 226 254));
  --utility-emerald-1: var(--emerald-1500, rgb(11 50 41));
  --utility-emerald-1-a: var(--emerald-1500, rgb(11 50 41));
  --utility-emerald-2: var(--emerald-1400, rgb(9 57 45));
  --utility-emerald-2-a: var(--emerald-1400, rgb(9 57 45));
  --utility-emerald-3: var(--emerald-1200, rgb(8 78 60));
  --utility-emerald-3-a: var(--emerald-1200, rgb(8 78 60));
  --utility-emerald-4: var(--emerald-900, rgb(5 150 105));
  --utility-emerald-4-a: var(--emerald-900, rgb(5 150 105));
  --utility-emerald-5: var(--emerald-800, rgb(16 185 129));
  --utility-emerald-6: var(--emerald-600, rgb(52 211 153));
  --utility-emerald-7: var(--emerald-400, rgb(110 231 183));
  --utility-emerald-8: var(--emerald-200, rgb(167 243 208));
  --utility-fuchsia-1: var(--fuchsia-1500, rgb(60 24 62));
  --utility-fuchsia-1-a: var(--fuchsia-1500, rgb(60 24 62));
  --utility-fuchsia-2: var(--fuchsia-1400, rgb(77 27 80));
  --utility-fuchsia-2-a: var(--fuchsia-1400, rgb(77 27 80));
  --utility-fuchsia-3: var(--fuchsia-1200, rgb(112 26 117));
  --utility-fuchsia-3-a: var(--fuchsia-1200, rgb(112 26 117));
  --utility-fuchsia-4: var(--fuchsia-1000, rgb(162 28 175));
  --utility-fuchsia-4-a: var(--fuchsia-1000, rgb(162 28 175));
  --utility-fuchsia-5: var(--fuchsia-800, rgb(217 70 239));
  --utility-fuchsia-6: var(--fuchsia-600, rgb(232 121 249));
  --utility-fuchsia-7: var(--fuchsia-400, rgb(239 171 252));
  --utility-fuchsia-8: var(--fuchsia-200, rgb(245 208 254));
  --utility-green-1: var(--green-1500, rgb(20 46 31));
  --utility-green-1-a: var(--green-1500, rgb(20 46 31));
  --utility-green-2: var(--green-1400, rgb(24 58 38));
  --utility-green-2-a: var(--green-1400, rgb(24 58 38));
  --utility-green-3: var(--green-1200, rgb(23 83 47));
  --utility-green-3-a: var(--green-1200, rgb(23 83 47));
  --utility-green-4: var(--green-900, rgb(22 163 74));
  --utility-green-4-2: var(--green-900, rgb(22 163 74));
  --utility-green-5: var(--green-800, rgb(34 197 94));
  --utility-green-6: var(--green-600, rgb(74 222 128));
  --utility-green-7: var(--green-400, rgb(134 239 172));
  --utility-green-8: var(--green-200, rgb(187 247 208));
  --utility-grey-1: var(--grey-1300, rgb(41 41 45));
  --utility-grey-1-a: var(--grey-1300, rgb(41 41 45));
  --utility-grey-2: var(--grey-1200, rgb(58 58 65));
  --utility-grey-2-a: var(--grey-1200, rgb(58 58 65));
  --utility-grey-3: var(--grey-1100, rgb(80 80 88));
  --utility-grey-3-a: var(--grey-1100, rgb(80 80 88));
  --utility-grey-4: var(--grey-1000, rgb(100 100 109));
  --utility-grey-4-a: var(--grey-1000, rgb(100 100 109));
  --utility-grey-5: var(--grey-800, rgb(132 132 140));
  --utility-grey-6: var(--grey-400, rgb(205 205 210));
  --utility-grey-7: var(--grey-200, rgb(231 231 233));
  --utility-grey-8: var(--grey-100, rgb(237 237 238));
  --utility-indigo-1: var(--indigo-1500, rgb(34 35 78));
  --utility-indigo-1-a: var(--indigo-1500, rgb(34 35 78));
  --utility-indigo-2: var(--indigo-1400, rgb(39 39 94));
  --utility-indigo-2-a: var(--indigo-1400, rgb(39 39 94));
  --utility-indigo-3: var(--indigo-1200, rgb(51 47 137));
  --utility-indigo-3-a: var(--indigo-1200, rgb(51 47 137));
  --utility-indigo-4: var(--indigo-1000, rgb(68 56 204));
  --utility-indigo-4-a: var(--indigo-1000, rgb(68 56 204));
  --utility-indigo-5: var(--indigo-800, rgb(94 97 241));
  --utility-indigo-6: var(--indigo-600, rgb(129 140 248));
  --utility-indigo-7: var(--indigo-400, rgb(165 180 252));
  --utility-indigo-8: var(--indigo-200, rgb(199 210 254));
  --utility-lime-1: var(--lime-1500, rgb(32 46 18));
  --utility-lime-1-a: var(--lime-1500, rgb(32 46 18));
  --utility-lime-2: var(--lime-1400, rgb(40 56 20));
  --utility-lime-2-a: var(--lime-1400, rgb(40 56 20));
  --utility-lime-3: var(--lime-1200, rgb(54 83 21));
  --utility-lime-3-a: var(--lime-1200, rgb(54 83 21));
  --utility-lime-4: var(--lime-900, rgb(101 163 13));
  --utility-lime-4-a: var(--lime-900, rgb(101 163 13));
  --utility-lime-5: var(--lime-800, rgb(130 200 22));
  --utility-lime-6: var(--lime-600, rgb(163 230 53));
  --utility-lime-7: var(--lime-400, rgb(190 242 100));
  --utility-lime-8: var(--lime-200, rgb(217 249 157));
  --utility-magenta-1: var(--magenta-1500, rgb(74 23 37));
  --utility-magenta-1-a: var(--magenta-1500, rgb(74 23 37));
  --utility-magenta-2: var(--magenta-1400, rgb(93 21 42));
  --utility-magenta-2-a: var(--magenta-1400, rgb(93 21 42));
  --utility-magenta-3: var(--magenta-1200, rgb(136 19 53));
  --utility-magenta-3-a: var(--magenta-1200, rgb(136 19 53));
  --utility-magenta-4: var(--magenta-1000, rgb(190 18 60));
  --utility-magenta-4-a: var(--magenta-1000, rgb(190 18 60));
  --utility-magenta-5: var(--magenta-800, rgb(244 63 94));
  --utility-magenta-6: var(--magenta-600, rgb(251 113 132));
  --utility-magenta-7: var(--magenta-400, rgb(253 164 175));
  --utility-magenta-8: var(--magenta-200, rgb(254 205 210));
  --utility-orange-1: var(--orange-1500, rgb(68 29 19));
  --utility-orange-1-a: var(--orange-1500, rgb(68 29 19));
  --utility-orange-2: var(--orange-1400, rgb(88 36 22));
  --utility-orange-2-a: var(--orange-1400, rgb(88 36 22));
  --utility-orange-3: var(--orange-1200, rgb(124 44 20));
  --utility-orange-3-a: var(--orange-1200, rgb(124 44 20));
  --utility-orange-4: var(--orange-900, rgb(234 88 12));
  --utility-orange-4-a: var(--orange-900, rgb(234 88 12));
  --utility-orange-5: var(--orange-800, rgb(249 115 22));
  --utility-orange-6: var(--orange-600, rgb(251 153 60));
  --utility-orange-7: var(--orange-400, rgb(253 186 116));
  --utility-orange-8: var(--orange-200, rgb(254 221 178));
  --utility-peach-1: var(--peach-1500, rgb(67 28 20));
  --utility-peach-1-a: var(--peach-1500, rgb(67 28 20));
  --utility-peach-2: var(--peach-1400, rgb(85 36 27));
  --utility-peach-2-a: var(--peach-1400, rgb(85 36 27));
  --utility-peach-3: var(--peach-1200, rgb(126 48 33));
  --utility-peach-3-a: var(--peach-1200, rgb(126 48 33));
  --utility-peach-4: var(--peach-900, rgb(214 83 52));
  --utility-peach-4-a: var(--peach-900, rgb(214 83 52));
  --utility-peach-5: var(--peach-800, rgb(228 106 73));
  --utility-peach-6: var(--peach-700, rgb(237 122 91));
  --utility-peach-7: var(--peach-400, rgb(252 182 163));
  --utility-peach-8: var(--peach-200, rgb(253 216 206));
  --utility-pink-1: var(--pink-1500, rgb(67 25 42));
  --utility-pink-1-a: var(--pink-1500, rgb(67 25 42));
  --utility-pink-2: var(--pink-1400, rgb(89 24 50));
  --utility-pink-2-a: var(--pink-1400, rgb(89 24 50));
  --utility-pink-3: var(--pink-1200, rgb(131 24 67));
  --utility-pink-3-a: var(--pink-1200, rgb(131 24 67));
  --utility-pink-4: var(--pink-1000, rgb(190 24 93));
  --utility-pink-4-a: var(--pink-1000, rgb(190 24 93));
  --utility-pink-5: var(--pink-800, rgb(236 67 150));
  --utility-pink-6: var(--pink-600, rgb(247 115 184));
  --utility-pink-7: var(--pink-400, rgb(251 169 213));
  --utility-pink-8: var(--pink-200, rgb(251 209 233));
  --utility-purple-1: var(--purple-1500, rgb(54 26 76));
  --utility-purple-1-a: var(--purple-1500, rgb(54 26 76));
  --utility-purple-2: var(--purple-1400, rgb(65 28 95));
  --utility-purple-2-a: var(--purple-1400, rgb(65 28 95));
  --utility-purple-3: var(--purple-1200, rgb(94 32 141));
  --utility-purple-3-a: var(--purple-1200, rgb(94 32 141));
  --utility-purple-4: var(--purple-1000, rgb(126 34 206));
  --utility-purple-4-a: var(--purple-1000, rgb(126 34 206));
  --utility-purple-5: var(--purple-800, rgb(168 85 247));
  --utility-purple-6: var(--purple-500, rgb(204 157 254));
  --utility-purple-7: var(--purple-400, rgb(216 180 254));
  --utility-purple-8: var(--purple-200, rgb(233 213 255));
  --utility-red-1: var(--red-1500, rgb(69 26 26));
  --utility-red-1-a: var(--red-1500, rgb(69 26 26));
  --utility-red-2: var(--red-1400, rgb(92 30 30));
  --utility-red-2-a: var(--red-1400, rgb(92 30 30));
  --utility-red-3: var(--red-1200, rgb(133 30 30));
  --utility-red-3-a: var(--red-1200, rgb(133 30 30));
  --utility-red-4: var(--red-900, rgb(220 38 38));
  --utility-red-4-a: var(--red-900, rgb(220 38 38));
  --utility-red-5: var(--red-800, rgb(239 71 64));
  --utility-red-6: var(--red-600, rgb(250 124 114));
  --utility-red-7: var(--red-400, rgb(254 171 162));
  --utility-red-8: var(--red-200, rgb(254 208 202));
  --utility-teal-1: var(--teal-1500, rgb(21 50 49));
  --utility-teal-1-a: var(--teal-1500, rgb(21 50 49));
  --utility-teal-2: var(--teal-1400, rgb(22 55 53));
  --utility-teal-2-a: var(--teal-1400, rgb(22 55 53));
  --utility-teal-3: var(--teal-1200, rgb(27 70 65));
  --utility-teal-3-a: var(--teal-1200, rgb(27 70 65));
  --utility-teal-4: var(--teal-900, rgb(33 135 120));
  --utility-teal-4-a: var(--teal-900, rgb(33 135 120));
  --utility-teal-5: var(--teal-800, rgb(43 163 145));
  --utility-teal-6: var(--teal-600, rgb(68 193 171));
  --utility-teal-7: var(--teal-400, rgb(102 212 189));
  --utility-teal-8: var(--teal-200, rgb(171 237 220));
  --utility-violet-1: var(--violet-1500, rgb(51 28 93));
  --utility-violet-1-a: var(--violet-1500, rgb(51 28 93));
  --utility-violet-2: var(--violet-1400, rgb(63 24 124));
  --utility-violet-2-a: var(--violet-1400, rgb(63 24 124));
  --utility-violet-3: var(--violet-1200, rgb(79 12 173));
  --utility-violet-3-a: var(--violet-1200, rgb(79 12 173));
  --utility-violet-4: var(--violet-1000, rgb(102 16 242));
  --utility-violet-4-a: var(--violet-1000, rgb(102 16 242));
  --utility-violet-5: var(--violet-800, rgb(127 77 255));
  --utility-violet-6: var(--violet-600, rgb(150 128 255));
  --utility-violet-7: var(--violet-400, rgb(189 178 255));
  --utility-violet-8: var(--violet-200, rgb(220 216 255));
  --utility-yellow-1: var(--yellow-1500, rgb(59 36 18));
  --utility-yellow-1-a: var(--yellow-1500, rgb(59 36 18));
  --utility-yellow-2: var(--yellow-1400, rgb(72 45 20));
  --utility-yellow-2-a: var(--yellow-1400, rgb(72 45 20));
  --utility-yellow-3: var(--yellow-1200, rgb(113 72 19));
  --utility-yellow-3-a: var(--yellow-1200, rgb(113 72 19));
  --utility-yellow-4: var(--yellow-900, rgb(210 153 4));
  --utility-yellow-4-a: var(--yellow-900, rgb(210 153 4));
  --utility-yellow-5: var(--yellow-800, rgb(234 181 8));
  --utility-yellow-6: var(--yellow-600, rgb(250 214 31));
  --utility-yellow-7: var(--yellow-400, rgb(253 230 73));
  --utility-yellow-8: var(--yellow-200, rgb(251 242 136));

}
